from django.contrib import admin
from .models import *

{% for inline in inlines %}
class {{ inline.to_model.name }}Inline(admin.TabularInline):
    model = {{ inline.to_model.name }}
{% endfor %}

{% for model in object_list %}
{% spaceless %}
{% if model.admin_list or model.admin_filter or model.admin_search or model.admin_readonly or model.list_per_page or model.inlines.all %}
class {{ model.name }}Admin(admin.ModelAdmin):
    {% if model.admin_list %}list_display = [{% for admin_list in model.admin_list %}'{{ admin_list.name }}',{% endfor %}]{% endif %}
    {% if model.admin_filter %}list_filter = ({% for admin_filter in model.admin_filter %}'{{ admin_filter.name }}',{% endfor %}){% endif %}
    {% if model.admin_search %}search_fields = [{% for admin_search in model.admin_search %}'{{ admin_search.name }}',{% endfor %}]{% endif %}
    {% if model.admin_readonly %}readonly_fields = ({% for admin_readonly in model.admin_readonly %}'{{ admin_readonly.name }}',{% endfor %}){% endif %}
    {% if model.list_per_page %}list_per_page = {{ model.list_per_page }}{% endif %}
    {% if model.inlines.all %}
    inlines = [
    {% for admin_inline in model.inlines.all %}
        {{ admin_inline.name }}Inline,
    {% endfor %}
    ]
    {% endif %}

admin.site.register({{ model.name }}, {{ model.name }}Admin)
{% else %}
admin.site.register({{ model.name }})
{% endif %}
{% endspaceless %}



{% endfor %}
